<div *ngIf="product" class="products">
  <h2>{{product.name | uppercase}} Details</h2>
  <div><span>Description: </span>{{product.description}}</div>
  <div><span>Price: </span>{{product.price}}</div>
  <div><span>Update Date: </span>{{product.lastModificationDate | date}}</div>
  <div>
    <button routerLink="/product-edit/{{product.id}}">
      Edit
    </button>
  </div>
</div>